/* Định dạng chung cho form */
form {
    max-width: 400px;
    margin: 0 auto;
}

/* Định dạng cho nhãn (label) */
label {
    display: block;
    margin-bottom: 5px;
}

/* Định dạng cho input text */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Định dạng cho input file */
input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
}

/* Định dạng cho nút submit */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Định dạng cho input bắt buộc */
input[required] {
    border-color: #007BFF;
}
